{% load chat_markdown %}

<article class="chat chat-message {% if message.role == 'user' %}chat-end{% else %}chat-start{% endif %}">
    <div class="chat-bubble chat-message-bubble {% if message.role == 'user' %}chat-bubble-primary{% elif message.role == 'assistant' %}chat-bubble-secondary{% else %}chat-bubble-accent{% endif %}">
        {% if message.role == 'assistant' %}
            {{ message.content|markdown_content }}
        {% else %}
            {{ message.content|linebreaks }}
        {% endif %}
    </div>
</article>
